<div class="row">
    <form>
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon" ng-bind="item.label"></span>
                <input type="text" class="form-control" ng-model="tag" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <select class="selectpicker form-control" data-live-search="true" ng-model="option"
                        ng-options="o.alias as o.label for o in item.options">
                </select>
                <span class="input-group-btn">
                    <a ng-href="/search/{{tag}}/{{option}}/0">
                        <button class="btn btn-default" type="submit">
                            <span ng-bind="item.submit"></span>
                        </button>
                    </a>
                </span>
            </div>
        </div>
    </form>
</div>