<nav class="menu" id="theMenu">
    <!-- Menu -->
    <div class="menu-wrap">
        <h1 class="logo"><a href="#home" ng-bind="item.title"></a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="#home" class="smoothScroll" ng-bind="item.home"></a>
        <a href="#see-ads" class="smoothScroll" ng-bind="item.add"></a>
        <a data-toggle="modal" data-target="#myModal" href="#see-ads" class="smoothScroll" ng-bind="item.create"></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle" ng-click="toggleMenu()"><i class="icon-reorder"></i></div>
</nav>