<div id="hidden-elements">
    <form name='delete-ad' id="popover-delete-ad-content" class="popover-content">
        <div class="input-group">
            <input type="text" class="form-control" name='code' id='focusedInput'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span ng-bind="item.submit"></span>
                    </button>
                </span>
        </div><!-- /input-group -->
    </form>
</div>