<!-- Title of Section -->
<div class="row">
    <h3 ng-transclude></h3>
    <p class="centered">
        <i class="icon icon-circle"></i>
        <i class="icon icon-circle"></i>
        <i class="icon icon-circle"></i>
    </p>
</div>