<!-- Button to create new ads -->
<div class="row">
    <p>
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-warning" ng-transclude>
        </button>
    </p>
</div>