<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span ng-bind="item.header"></span></h4>
            </div>
            <form ng-submit="createAd()" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titleF"><span ng-bind="item.titleDescription"></span></label>
                        <input type="text" class="form-control placeholder-no-fix" ng-model="fields.titleF"
                               ng-placeholder="item.titlePlaceholder" autocomplete="off" id="titleF">
                    </div>
                    <div class="form-group">
                        <label for="descriptionF"><span ng-bind="item.descriptionDescription"></span></label>
                        <textarea class="form-control" ng-placeholder="descriptionPlaceholder" ng-model="fields.descriptionF"
                                  rows="5" id="descriptionF"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cityF"><span ng-bind="item.cityDescription"></span></label>
                        <input type="text" class="form-control placeholder-no-fix" id="cityF" ng-model="fields.cityF"
                               ng-placeholder="item.cityPlaceholder" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="neighborhoodF"><span ng-bind="item.neighborhoodDescription"></span></label>
                        <input type="text" class="form-control placeholder-no-fix" id="neighborhoodF" ng-model="fields.neighborhoodF"
                               ng-placeholder="item.neighborhoodPlaceholder" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="facebookF"><span ng-bind="item.facebookDescription"></span></label>
                        <input type="text" class="form-control" id="facebookF" ng-model="fields.facebookF"
                               ng-value="item.facebookPlaceholder">
                    </div>
                    <div class="form-group">
                        <label for="emailF"><span ng-bind="item.emailDescription"></span></label>
                        <input type="text" class="form-control placeholder-no-fix" id="emailF" ng-model="fields.emailF"
                               ng-placeholder="item.emailPlaceholder" autocomplete="off">
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="emailF">@text("form-ad-creation-instrument-description")</label>
                        <div class="input-group" id="instrumentInputLine">
                            <input type="text" id="instrumentF" name="instrumentF" class="form-control placeholder-no-fix"
                                   placeholder="@text("form-ad-creation-instrument-placeholder")" autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                        </div>
                    </div>
                    -->
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">
                        <span ng-bind="item.cancel"></span>
                    </button>
                    <input class="btn btn-theme" type="submit" ng-value="item.submit">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal -->
