<!-- ========== HEADER SECTION ========== -->
<section id="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="/assets/template/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h1 ng-bind="item.title"></h1>
            <br>
            <h3 ng-bind="item.topMessage"></h3>
            <br>
            <h4><span ng-bind="item.middleFirst"></span>
                <span ng-bind="item.helped | number"></span>
                <span ng-bind="item.middleSecond"></span>
            </h4>
            <br>
            <br>
            <div class="col-lg-6 col-lg-offset-3"></div>
        </div>
    </div><!-- /container -->
</div><!-- /headerwrap -->