@**********************************************************************************************************************
 * Head of Main page (dinamic HTML)                                                                                   *
 * @param title The title of the page                                                                                 *
 * @param pageId The id of the page (for switch blocks)                                                               *
 **********************************************************************************************************************@
@()
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

  <title>GigCreator</title>

  <!-- JQuery and Bootstrap JS -->
  <script src="@routes.Assets.at("template/js/jquery.min.js")"></script>
  <script src="@routes.Assets.at("template/js/bootstrap.min.js")"></script>
  <!-- Bootstrap core CSS -->
  <link href="@routes.Assets.at("template/css/bootstrap.css")" rel="stylesheet">
  <!-- Customizations of the templates-->
  <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="@routes.Assets.at("template/css/main.css")" rel="stylesheet">
  <link href="@routes.Assets.at("template/css/font-awesome.min.css")" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>