@*********************************************************************************************************************
* Scripts called at end of page (dinamic HTML)                                                                       *
* @param pageId The id of the page (for switch blocks)                                                               *
**********************************************************************************************************************@
@(pageId: Int)
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- AngularJS -->
    <script src="@routes.Assets.at("angular/angular.js")"></script>
    <script src="@routes.Assets.at("angular-route/angular-route.js")"></script>
    <!-- Modules -->
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <!-- Controllers -->
    <script src="@routes.Assets.at("javascripts/controllers/ViewsController.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/GeneralController.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers/CreateAdController.js")"></script>
    <!-- Directives -->
    <script src="@routes.Assets.at("javascripts/directives/header.js")"></script>
    <script src="@routes.Assets.at("javascripts/directives/popover.js")"></script>
    <script src="@routes.Assets.at("javascripts/directives/modal.js")"></script>
    <script src="@routes.Assets.at("javascripts/directives/sections.js")"></script>
    <script src="@routes.Assets.at("javascripts/directives/bars.js")"></script>
    <!-- Template and Customs -->
    <script src="@routes.Assets.at("javascripts/adMenu.js")"></script>
    <script src="@routes.Assets.at("template/js/classie.js")"></script>
    <script src="@routes.Assets.at("template/js/smoothscroll.js")"></script>
    <script src="@routes.Assets.at("template/js/main.js")"></script>