@(pageId: Int, searchTag: String, message: String)

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <br>
    <p>
      @message
    </p>
  </div>
</div>
<div class="row">
@views.html.pieces.adSection.arrows(pageId, searchTag)
</div>