@(pageId: Int, searchTag: String)

<!-- Pagination -->
<nav>
  <ul class="pager">
    <li class="previous">
    @if(Utils.isTheFirstPage(pageId)){
      <span aria-hidden="true">&larr;</span>
    } else {
      @if(Utils.isAllInstance(searchTag)){
        <a href="@searchTag/@Utils.getPreviousPage(pageId)"><span aria-hidden="true">&larr;</span></a>
      } else {
        <a href="@searchTag/@Utils.getPreviousPage(pageId)"><span aria-hidden="true">&larr;</span></a>
      }
    }
    </li>
    <li class="next">
    @if(Utils.isTheLastPage(pageId)){
      <span aria-hidden="true">&rarr;</span>
    } else {
      @if(Utils.isAllInstance(searchTag)){
        <a href="@searchTag/@Utils.getNextPage(pageId)"><span aria-hidden="true">&rarr;</span></a>
      } else {
        <a href="@searchTag/@Utils.getNextPage(pageId)"><span aria-hidden="true">&rarr;</span></a>
      }
    }
    </li>
  </ul>
</nav>