@import models.items.Ad
@(ad: Ad)
    @import views.html.tags.text
    @import views.html.tags.web

  <h3>
      @ad.getTitle
  </h3>
  <p>
    @if(ad.isInterestOnBand){
          @text("ad-option-search-band")
    }else{
          @text("ad-option-play-often")
    }
    <br/>
        @ad.getDescription
    <br/>
        @ad.getCity, @ad.getNeighborhood
  </p>
  <p>
    <b>@text("ad-know-play")</b>
    @for(i <- 0 to ad.getNumberOfInstruments - 1){
        @ad.getInstrument(i)
        @if(i != ad.getNumberOfInstruments - 1){ , }
    }
  </p>
  <p>
    @if(ad.getNumberOfNiceStyles > 0){
        <b>@text("ad-nice-styles")</b>
        @for(i <- 0 to ad.getNumberOfNiceStyles - 1){
            @ad.getNiceStyle(i)
            @if(i != ad.getNumberOfNiceStyles - 1){ , }
        }
        <br/>
    }
    @if(ad.getNumberOfBadStyles > 0){
        <b>@text("ad-bad-styles")</b>
        @for(i <- 0 to ad.getNumberOfBadStyles - 1){
            @ad.getBadStyle(i)
            @if(i != ad.getNumberOfBadStyles - 1){ , }
        }
        <br/>
    }
    @text("ad-contact")
    @if(ad.hasFacebookContact){
        <a href="https://www.facebook.com/@ad.getFacebookContact"><i class="icon-facebook"></i></a>
    }
    @if(ad.hasEmailContact){
        <a href="@ad.getEmailContact"><i class="icon-envelope"></i></a>
    }
    <btn-delete item="btnDeleteText"></btn-delete>

    <br/> <br/>
  </p>